.App {
}

.logo {
  width: 80px;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: rgb(0, 117, 212);
}

.cart-section {
  height: 100vh;
  padding: 20px;
}

.products-section {
  height: 100vh;
}

.prod-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  padding: 10px;
  border-radius: 16px;
  border: unset;
  background: #fff;
  box-shadow: 0 0 5px rgba(61, 126, 255, 0.315);
  margin: 10px;
  overflow: hidden;
  width: 100%;
}

.card:hover {
  box-shadow: 0 0 16px rgba(61, 126, 255, 0.315);
}

.card .favs {
  position: absolute;
  z-index: 10;
  top: 20px;
  right: 20px;
  font-size: 1.2em;
  cursor: pointer;
  color: rgb(80, 139, 255);
}

.card-img-top {
  border-radius: 10px;
  min-height: 180px;
}

.card-title {
  font-weight: 600;
}

.card-text {
  font-size: .7em;
  color: #888;
  height: 30px;
  overflow-y: hidden;
}


.card-footer {
  background-color: #fff;
  border-top: #fff;
}

.card-footer .price-group {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card-footer .btn-area {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn {
  border-radius: 20px;
  width: 100%;
  margin: 10px 0;
}

.card-footer .new-price {
  font-size: 1.2em;
  font-weight: 600;
}

.card-footer .price {
  text-decoration:line-through;
  color: #aaa;
}

.categories-section {
  margin: 20px 0;
  display: flex;
  overflow-x: scroll;
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  width: 100%;
  justify-content: center;
}

.categories-section .cameras,
.categories-section .computers,
.categories-section .earbuds,
.categories-section .gaming,
.categories-section .headphones,
.categories-section .speakers,
.categories-section .watches,
.categories-section .all {
  background-size: cover;
  height: 100px;
  width: 150px;
  border-radius: 10px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  cursor: pointer;
}

.categories-section .cameras:hover,
.categories-section .computers:hover,
.categories-section .earbuds:hover,
.categories-section .gaming:hover,
.categories-section .headphones:hover,
.categories-section .speakers:hover,
.categories-section .watches:hover,
.categories-section .all:hover   {
  box-shadow: 0 0 16px rgba(61, 126, 255, 0.35);
  margin: 7px 10px 13px;
}

.categories-section .cameras {
  background-image: url('./assets/nikon-camera-v2.jpg');
}

.categories-section .computers {
  background-image: url('./assets/laptop-v1.jpg');
}
.categories-section .earbuds {
  background-image: url('./assets/loot-airbuds.jpg');
}
.categories-section .gaming {
  background-image: url('./assets/xbox-game-controller-v1.jpg');
}
.categories-section .headphones {
  background-image: url('./assets/ervo-rocks-headphones-v1.jpg');
}
.categories-section .speakers {
  background-image: url('./assets/harmon-kardon-speakers.jpg');
}
.categories-section .watches {
  background-image: url('./assets/nayris-android watch.jpg');
}
.categories-section .all {
  background: rgb(255,0,179);
  background: linear-gradient(324deg, rgba(255,0,179,1) 0%, rgba(0,255,229,1) 100%);
}

.search {
  margin: 16px;
  color: #ccc;
  background: rgb(255, 255, 255);
  border: solid 1px #333;
  border-radius: 20px;
  width: 70%;
}

.form-control input, .form-control input:focus, .form-control input:active, .form-control input:focus-visible {
  border: unset;
  width: 100%;
  background: rgb(233, 233, 233, 0);
}

.form-control input:focus-visible {
  outline: unset;
}

.product .img-main {
  width: 100%;
  border-radius: 20px;
  margin: 20px 0;
}

.product .content {
  display: flex;
  flex-direction: column;
  margin-top: 77px;
}

.product .desc {
  margin: 20px 0;
}

.product .price {
  display: flex;
  align-items: baseline;
}

.product .new-price {
  font-size: 2em;
  font-weight: 600;
  margin-right: 10px;
}

.product .old-price {
  text-decoration: line-through;
  color: #aaa;
}

.head {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #fff;
  z-index: 2;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.145);
}

button.badge {
  background: unset;
  border: none;
  color: #0072e4;
  width: 1.5rem;
  height: 1.5rem;
  font-weight: 600;
  border-radius: 20px;
  position: absolute;
  bottom: 40px;
  right: 32px;
  z-index: 2;
}

button.remove {
  background-color: #212529;
  border: none;
  color: #ffffff;
  width: 1.5rem;
  font-weight: 400;
}

button.add {
  background-color: #212529;
  border: none;
  color: #ffffff;
  width: 1.5rem;
  font-weight: 400;
}

.cart {
  border-left: solid 1px #eee;
  position: absolute;
  width: 400px;
  right: 0;
  padding: 20px;
  top: 100px;
  height: 80vh;
}

.cart-header {
  display: flex;
  justify-content: space-between;
}

.cart-drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 20vw;
  height: 100vh;
  background: green;
  z-index: 300;
  padding: 20px;
  transform: translateX(-100%);
  transition: transform .3s;
  will-change: transform;
  contain: paint;
}

.overlay {
  background: rgba(0, 0, 0, 0.767);
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
}

.basket-wrapper {
  padding: 10px;
}
.basket-icon {
  font-size: 1.7em;
}

.carousel-inner {
  height: 60vw;
}

.carousel-item {
  top: 0px;
}

@media (min-width: 768px) {
  .product .content {
    flex-direction: row;
  }

  .product .desc {
    margin: 20px;
  }

  .card {
    width: 47%;
  }
}

@media (min-width: 992px) {
  .card {
    width: 31%;
  }
  .carousel-inner {
    height: 50vw;
  }
  
  .carousel-item {
    top: -120px;
  }
}


@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1600px;
}

.carousel-inner {
  height: 30vw;
}

.carousel-item {
  top: -330px;
}

.card {
  width: 23%;
}
}